@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  img {
    @apply inline;
  },
  ol {
    @apply list-decimal list-inside
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.clipPath {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

input[type='radio'] {
  position: fixed;
  opacity: 0
}